body{
background-color: darksalmon;

}
h1{
color: rgba(91, 17, 135, 0.926);
padding-left: 120px;
background-color:bisque;
width: 100%;
}

#show_sketches{
    float: right;
    margin-top: 3px; 
    margin-right: 5px;
}

canvas{
   border: 5px ridge purple;
   border-radius: 20px;
   animation-name: animation;
   animation-duration: 6s;
   animation-iteration-count: infinite;

}
@keyframes animation{
from {box-shadow:1px 1px 38px black;}
to {box-shadow:1px 1px 38px rgb(247, 3, 43);}
}